
.TableroJuego {
    border-color : #39ff14;
    border-style : solid;
    width : 600px;
    height: 400px;
}
#iniciar {
    font-size: 25px;
    position: absolute;
    padding: 10px 0 0 170px;
}
.pelota{
    position: absolute;
    width: 20px;
    height: 20px;
    top: 11px;
    left: 383px;
    background-color: #f80000;
}
.raqueta {
    position: absolute;
    width: 20px;
    height: 80px;
    background-color: #000000;
}
.linea {
    border-left: 6px dashed #39ff14;
    height: 320px;
    top: 40px;
    left: 297px;
    position: relative;
    vertical-align: middle;
}
.info {
    width: 606px;
    height: 115px;
    padding: 3px;
    background-color: #000000;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-color : #39ff14;
    border-style : solid;
}
.puntaje {
    margin: -25px 0 0 0;
}
#historico{
    margin: -20px 0 0 0;
}
.textoestatico {
    color: #FFFFFF;
    font-family : "Bebas Neue";
    font-size: 30px;
}
.instrucciones{
    color: #123547 !important;
    z-index: 1;
}