.content{
    background-color: white;
    border-radius: 10px !important;
    margin-top: 60px;
    color: #123547;
  }
.item{
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.textbox{
  border-radius: 5px;
  width: 300px;
  height: 30px;
}
.butttons{
  background-color: white;
  width: 200px;
}
.butttons:hover{
  border-color: aqua;
}
.butttons:focus{
  border-color: aqua;
  box-shadow: none;
}
.btn-logout{
  background-color: white;
  width: 130px;
  height: 35px;
  margin-top: 15px;
}
.btn-logout:hover{
  border-color: aqua;
}
.btn-logout:focus{
  border-color: aqua;
  box-shadow: none;
}
.borders{
  border: solid 0.7px #123547;
  border-radius: 5px;
}